* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

/* ====================== LIST ====================== */

.list {
  border-radius: 8px;
  padding: 24px;
  width: 440px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  background-color: #fff;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  background-color: #f6f6fe;
}

.item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin: 0;
}

.secondary-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 360px;
}

.secondary-item {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* ===================== GALERY ===================== */

.gallery {
  padding: 48px;
  width: 1440px;
  max-width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;

  background-color: #fff;
}

/* ===================== INPUT ===================== */

.wrapper {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 136px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  background-color: #fff;
}

.input-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding: 8px 16px;
  margin-bottom: 16px;
}

.title {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* ===================== FORM ===================== */

.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  background-color: #fff;
}

.form-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.email-input,
.password-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding: 8px 16px;
}

.email-input::placeholder,
.password-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.email-input:hover,
.password-input:hover {
  border: 1px solid #000;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;

  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-btn:hover {
  background-color: #6c8cff;
}

/* ===================== WIDGET ===================== */

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;

  background-color: #fff;
}

.widget-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 16px;
}

.change-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;

  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/* ===================== CONTROLS ===================== */

.controls-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;

  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;

  background-color: #f6f6fe;
}

.controls-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 40px;
  width: 150px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-destroy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  background-color: #ff4e4e;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  border-radius: 8px;
  padding: 32px;
  width: 486px;

  background-color: #f6f6fe;
}

.btn-create:hover {
  background-color: #6c8cff;
}

.btn-destroy:hover {
  background-color: #ff7070;
}
